<mat-card>
  <div class="container-fluid">
    <div class="col-8">
      <mat-card-content>
        <div class="row">
          <div class="col-8">
            <div class="row">
              <h3>Create A User</h3>
            </div>
            <div class="row">
              <mat-form-field style="width: 100%">
                <input matInput type="text" #fetchEmp placeholder="Employee Id" appNumbersOnly>
                <mat-hint>Enter the Emp Id of the employee whose user account is to be created!</mat-hint>
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field style="width: 100%">
                <input matInput type="text" [placeholder]="employeename$ | async" readonly>
                <mat-hint>Employee Name</mat-hint>
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field style="width: 100%">
                <input matInput type="text" [placeholder]="">
              </mat-form-field>
            </div>
          </div>
        </div>
      </mat-card-content>
    </div>
  </div>
</mat-card>
