/* [_nghost-c5] {
  display: inline-block !important;
  width: 100%;
} */

.mat-tab-link-active,
.mat-tab-label-active {
  /* background-color: #5EADB0; */
  /* color: #D5FEFF; */
  /* border: 1px solid #6B7F7F; */
  background-color: #322242;
  color: white;
  font-weight: bold;
}

.mat-tab-link,
.mat-tab-label {
  /* border: 1px solid #7e7e7e; */
  line-height: 30px !important;
  height: 30px !important;
  min-width: 100px !important;
}

.tabContentContainer {
  /* border: 1px solid #aaaaaa; */
  /* border: 1px solid #ffffff; */
  background: #ffffff 50% 50% repeat-x;
}
