/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.lavButton {
  background-color: #c0add1 !important;
  border-color: #c0add1 !important;
  color: #271b31
}
